{%extends 'paginas/modelo.html' %}

{%load static %}

{% load crispy_forms_tags %}


{% block titulo %}

<title> Cadastros de Cliente</title>
{% endblock %}

{% block destaque %}
{%endblock %}

{% block Principal %}
<h3> Cadastre um cliente</h3>

<form method="post" action="">

    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{form.nome_cliente | as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{form.cpf | as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{form.data_nasc | as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{form.email_cliente | as_crispy_field }}
        </div>

        <div class="form-group col-md-3 mb-0">
            {{form.telefone | as_crispy_field }}
        </div>

        <div class="form-group col-md-2 mb-0">
            {{form.cep | as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{form.estado | as_crispy_field }}

        </div>
        <div class="form-group col-md-6 mb-0">
            {{form.cidade | as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{form.rua | as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{form.numero | as_crispy_field }}
        </div>
    </div>
    <button class="btn btn-danger btn-sm form-group mx-sm-1 mb-2" type="reset"><img
            src="{% static 'img/lixo.svg' %}">Limpar</button>

    <button class="btn btn-success btn-sm form-group mx-sm-1 mb-2" type="submit">Enviar <img
            src="{% static 'img/enviar.svg' %}"> Cadastrar</button>

</form>
{%endblock %}

{%block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"> 
</script>

<script>
    
    $(document).ready(function () {
        $('#id_cpf').mask("000.000.000-00", { reverse: true });
        $('#id_data_nasc').mask('00/00/0000');
        $('#id_cep').mask('00000-000');
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);
    });
</script>

{% endblock %}