{% extends 'paginas/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Cadastro de Cliente</title>
{% endblock %}


{% block Principal %}
<h3>Cadastre um Cliente</h3>
<p class="lead">
    Preencha o formulário abaixo para cadastrar um novo cliente.
</p>

<form method="post" action="" id="cadastroForm">
    {% csrf_token %}
    <div class="form-row align-items-start">
        <div class="form-group col-md-6">
            {{ form.nome_cliente | as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
            {{ form.cpf | as_crispy_field }}
        </div>
        <div class="form-group col-md3">
            {{ form.data_nasc | as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.email_cliente | as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
            {{ form.telefone | as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
            {{ form.cep | as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            {{ form.estado| as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
            {{ form.cidade | as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
            {{ form.bairro | as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
            {{ form.rua | as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
            {{ form.numero | as_crispy_field }}
        </div>
    </div>
    {% if not form.instance.pk %}
    <!-- Se não houver um ID de cliente (ou seja, criando um novo cliente), exibe o botão Limpar -->
    <button class="btn btn-danger" type="reset">
        <img src="{% static 'img/lixo.svg' %}"> Limpar
    </button>
    {% endif %}
    <button class="btn btn-success" type="submit">
        <img src="{% static 'img/enviar.svg' %}">
        {% if form.instance.pk %}
        Atualizar
        {% else %}
        Enviar
        {% endif %}
    </button>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    //Exibindo máscaras para os campos CPF data de nascimento, CEP e telefone
    $(document).ready(function () {
        $('#id_cpf').mask("000.000.000-00", { reverse: true });
        $('#id_data_nasc').mask('00/00/0000');
        $('#id_cep').mask('00000-000');
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009'; //Validando a quantidade de digitos do telefone
        },
        spOptions = {
            onKeyPress: function (val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };
        $('#id_telefone').mask(SPMaskBehavior, spOptions);

        
        // Função para consumir a API do viacep
        $('#id_cep').blur(function () {
            var cep = $(this).val().replace(/\D/g, '');
            if (cep.length !== 8) {
                return;
            }
            $.getJSON('https://viacep.com.br/ws/' + cep + '/json/', function (data) {
                if (!("erro" in data)) {
                    $('#id_estado').val(data.uf);
                    $('#id_cidade').val(data.localidade);
                    $('#id_rua').val(data.logradouro);
                    $('#id_numero').focus();
                    $('#id_bairro').val(data.bairro);
                } else {
                    Swal.fire({
                        title: 'CEP não encontrado',
                        text: 'O CEP informado não foi encontrado, verifique novamente!',
                        icon: 'warning',
                    })
                }                                           
            });
        });

        // Definindo os campos cidade e estado como readonly
        $('#id_cidade').attr('readonly', true);
        $('#id_estado').attr('readonly', true);
    });
</script>
{% endblock %}
