{%extends 'paginas/modelo.html' %}
{%load static %}
{% load crispy_forms_tags %}


{% block titulo %}

<title> Cadastros de Produtos</title>
{% endblock %}


{% block Principal %}
<h3> Cadastre um produto aqui</h3>
<p class="lead"> <b>
        Lembre-se de preencher todos os campos obrigatorios! 
    </p></b>
<form method="POST" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                <b>  {{ form.nome_produto | as_crispy_field }} </b>
            </div>
            <div class="form-group col-md-1 mb-0">
                <b>  {{ form.quantidade_produto | as_crispy_field }} </b>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                <b> {{ form.precocompra_produto | as_crispy_field }} </b>
            </div>
            <div class="form-group col-md-2 mb-0">
               <b> {{ form.precovenda_produto | as_crispy_field }}</b>
            </div>
        </div>
    
        {% if not form.instance.pk %}
        <!-- Se não houver um ID de Produto (ou seja, criando um novo Produto), exibe o botão Limpar -->
        <button class="btn btn-danger btn-sm form-group mx-sm-1 mb-2" type="reset">
            <img src="{% static 'img/lixo.svg' %}"> Limpar
        </button>
        {% endif %}
    
        <button class="btn btn-success btn-sm form-group mx-sm-1 mb-2" type="submit">
            <img src="{% static 'img/enviar.svg' %}">
            {% if form.instance.pk %}
            Atualizar
            {% else %}
            Enviar
            {% endif %}
        </button>
    </form>
    

{% endblock %}


{%block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"> </script>

<script>//Colocando máscaras no preço de compra e venda
        $(document).ready(function () {
                $('#id_precocompra_produto').mask("#####.00", { reverse: true }); 

                $('#id_precovenda_produto').mask("#####.00", { reverse: true });


        });
</script>
{% endblock %}