{%extends 'paginas/modelo.html' %}
{%load static %}

{%block titulo %}

<title> Excluir Registro</title>

{% endblock %}

{%block destaque %}
{% endblock %}
 
{% block Principal %}
<h3>
    Excluir registro
</h3>

<p class="lead">
    Os dados excluidos não podem ser recuperados
</p>


<form action="" method="post">
<p>
    Deseja mesmo excluir: <b>{{object}}</b>?
</p>
    {% csrf_token %}

    {{ form.as_p }}

   
    <button class="btn btn-danger btn-sm form-group mx-sm-1 mb-2"><img
        src="{% static 'img/lixo.svg' %}">Excluir</button>

</form>
{% endblock %}