{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css">
    {% block titulo %}


    <title>Modelo</title>

    {% endblock %}

    <link rel="shortcut icon" href="{% static 'img/shop.svg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    {% block menu %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white " aria-current="page" href="{% url 'index' %}">
                            <img src="{% static 'img/house.svg' %}" alt="Logo" width="20" height="18">
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'listar-produto' %}">
                            <img src="{% static 'img/shop.svg' %}" alt="Logo" width="20" height="18">
                            Vendas
                        </a>
                    </li>

                    </li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/plus.svg' %}" alt="Logo" width="20" height="18">
                            Cadastros
                        </a>

                        <div class="dropdown-menu border border-dark " style="background-color: #bfddf3;"
                            aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" style="background-color: #bfddf3;"
                                href="{% url 'cadastrar-produto' %}">
                                <img src="{% static 'img/produtosplus.svg' %}" alt="Logo" width="15" height="24">
                                Produto
                            </a>
                            <a class="dropdown-item
                           " style="background-color: #bfddf3;" href="{% url 'cadastrar-cliente' %}">
                                <img src="{% static 'img/bustoplus.svg' %}" alt="Logo" width="15" height="30">
                                Cliente
                            </a>
                        </div>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/eye.svg' %}" alt="Logo" width="20" height="18">
                            Listar
                        </a>

                        <div class="dropdown-menu border border-dark " style="background-color: #bfddf3;"
                            aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" style="background-color: #bfddf3;"
                                href="{% url 'listar-produto' %}">
                                <img src="{% static 'img/produtosplus.svg' %}" alt="Logo" width="15" height="24">
                                Produtos
                            </a>
                            <a class="dropdown-item
                               " style="background-color: #bfddf3;" href="{% url 'listar-cliente' %}">
                                <img src="{% static 'img/bustoplus.svg' %}" alt="Logo" width="15" height="30">
                                Clientes
                            </a>
                        </div>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'sobre' %}">
                            <img src="{% static 'img/exclamacao.svg' %}" alt="Logo" width="20" height="18">
                            Sobre
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    {% endblock %}

    {% block destaque %}
    <div class="bg-light">
        Destaque

    </div>
    {% endblock %}



    {% block Principal %}
    <div class="container">
        <h2>Principal</h2>

    </div>
    {% endblock %}

    {% block rodape %}

    <footer class="bg-primary">
        <center>
            <a class="text-white">
                <p>Desenvolvido por
                    <a class="text-white" href="https://github.com/joaolucaspinheiro">
                        João Lucas Pinheiro
                    </a>
                </p>
            </a>

        </center>
    </footer>

    {% endblock %}


    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css
    " rel="stylesheet">
    <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-html5-3.0.2/datatables.min.css"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script
        src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-html5-3.0.2/datatables.min.js"></script>


    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            "title": "Sucesso!",
            "text": "{{m}}",
            "icon": "success"
        })
    </script>
    {% endfor %}
    {% endif %}

    </script>

    <!-- Bloco destinado a scripts exclusivos das páginas -->
    {%block scripts %}

    {% endblock %}
</body>

</html>